<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Расписание </a>
    <button class="navbar-toggler" type="button" (click)="ShowMenu()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
</nav>
<nav class="sidebar">
    <br>
    <h4 style="color: white;"> <i class="fa fa-bars" aria-hidden="true"></i> Список групп</h4>
    <div class="list-group">
        <button *ngIf="Groups.length>0" class="btn btn-primary btn-sm pull-right" (click)="LoadTimetable();">Загрузить расписание</button>
        <div class="list-group">
            <div class="input-group mb-3">
                <input type="text" #groupNum class="form-control" placeholder="Номер группы" aria-label="Номер группы" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="AddGroup(groupNum.value);"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="list-group">
            <ul>
                <li class="list-group-item" *ngFor="let g of Groups">
                    {{g.groupNum}}
                    <button (click)="RemoveGroup(g);" class="btn btn-sm"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row justify-content-md-center">
    <h1 class="col" align="center">Расписание</h1>
</div>
<section class="main-container">
    <div class="row justify-content-md-center">
        <div class="card col-xl-11">
            <div class="card-body table-responsive">
                <div class="row justify-content-md-center">
                    <div class="col-xs-2"><button class="btn btn-sm" (click)="WeekPrev();"><b><i class="fa fa-chevron-left" aria-hidden="true"></i></b></button></div>
                    <div class="col-xs-2">
                        <h4 *ngIf="!Loading">Недели</h4>
                        <h4 *ngIf="Loading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-xs-2"><button class="btn btn-sm" (click)="WeekNext();"><i class="fa fa-chevron-right" aria-hidden="true"></i></button></div>

                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let t of Timetable">{{t.date|date:"dd.MM.yyyy"}}</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="Timetable.length > 0">
                        <tr *ngFor="let lec of Timetable[0].lectures; let i = index">
                            <td>{{lec.startTime.hours}}:{{lec.startTime.minuts <10 ? '0':''}}{{lec.startTime.minuts}}-
                                {{lec.endTime.hours}}:{{lec.endTime.minuts <10 ? '0':''}}{{lec.endTime.minuts}}</td>
                            <ng-container *ngFor="let t of Timetable">
                                <td *ngIf="t.lectures[i].lectures.length == 0" style="background-color: #9be2ad">
                                </td>
                                <td *ngIf="t.lectures[i].lectures.length > 0"
                                    style="background-color: #e2b1ab;">
                                    <ng-template #LectionTemplate>
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item" *ngFor="let l of t.lectures[i].lectures">
                                                        <ul align="left" class="list-unstyled">
                                                            <li *ngIf="l.name.length>0"><i class="fa fa-book" aria-hidden="true"></i> {{l.name}}</li>
                                                            <li *ngIf="l.group.groupNum.length>0"><i class="fa fa-users" aria-hidden="true"></i> {{l.group.groupNum}}</li>
                                                            <li *ngIf="l.description.length>0"><i class="fa fa-user" aria-hidden="true"></i> {{l.description}}</li>
                                                            <li *ngIf="l.location.length>0"><i class="fa fa-map-marker" aria-hidden="true"></i> {{l.location}}</li>
                                                        </ul>
                                                </li>
                                            </ul>
                                    </ng-template>
                                    <button type="button"
                                            class="btn btn-primary btn-lg btn-block btn-outline-dark"
                                            data-html="true"
                                            placement="bottom"
                                            [ngbTooltip]="LectionTemplate">
                                        <span class="badge badge-dark">{{t.lectures[i].lectures.length}}</span>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
