<div class="container">
<div class="card">
  <div class="card-header">
    <h4>Список групп:</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li *ngFor="let group of Groups" class="list-group-item">
        <strong>{{group.faculty}}</strong>
        {{group.groupNum}}
        <button class="btn btn-link" (click)="RemoveFromList(group);">Удалить</button>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <label>
      Номер группы:
      <input type="text" class="form-control" [(ngModel)]="GroupNum">
    </label>
    <button class="btn" type="button" (click)="AddGroup();" >Добавить группу.</button>
  </div>
</div>
  &nbsp;
<div class="card" >
  <div class="card-header">
    <h4>Неделя: {{ WeekId }}</h4>
  </div>
  <div class="card-body">
    <label>
      <label *ngIf="AdvancedWeekId">
        Номер недели:
        <input type="text" class="form-control" [(ngModel)]="WeekId">
      </label>
      <button *ngIf="!AdvancedWeekId" class="btn" type="button" (click)="SetCurrentWeek();" >Текущая неделя</button>
      <button *ngIf="!AdvancedWeekId" class="btn" type="button" (click)="SetNextWeek();" >Следующая неделя</button>
      <button *ngIf="!AdvancedWeekId" class="btn btn-link" type="button" (click)="SetAdvancedMode();" >Указать номер недели</button>
    </label>
  </div>
  <div class="card-footer">
    <button *ngIf="AdvancedWeekId" class="btn" type="button" (click)="SetCurrentWeek();" >Текущая неделя</button>
    <button *ngIf="AdvancedWeekId" class="btn" type="button" (click)="SetNextWeek();" >Следующая неделя</button>
  </div>
</div>
&nbsp;
  <div class="card" >
    <div class="card-header">
      <h4>Свободные часы:</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let day of DayTimetables" class="list-group-item">
          <b>{{day.date | date : "dd.MM.yyyy"}}</b>
          <ul class="list-group">
            <li *ngFor="let lecture of day.lectures" class="list-group-item">
              {{lecture.time}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-secondary" type="button" (click)="LoadTimetable();" >Загрузить расписание</button>
    </div>
  </div>

</div>
